extends layout

block content
  if current_user
    h1 Hello #{current_user.full_name}
  else
    h1 Welcome to MembersOnly
    p Please sign in to post new messages
  each message in messages 
    div 
      h3 #{message.title}
      p #{message.text}
      if current_user && current_user.member_status
        p by #[strong #{message.user.full_name}]
        p #[em #{message.relative_timestamp}]
      else 
        p by #[strong Anonymous]
      if current_user && current_user.admin_status 
        form(action='/delete-message' method='POST')
          input#message_id(type='hidden' name='message_id' required='true' value=message._id)
          button.delete(type='submit')
            img(src='/images/trash.svg', alt='') 
  else 
    h3 No messages currently posted